<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="test.controller"/>
    <bean class="org.czyee.guarder.annotated.AnnotatedGuarder" init-method="init">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="defaultCharset" value="UTF-8"/>
                </bean>
                <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">
                    <property name="defaultCharset" value="UTF-8"/>
                </bean>
            </list>
        </property>
    </bean>
    <bean class="test.config.TestNodeDefiner"/>
    <bean class="org.czyee.guarder.session.DefaultSessionService"/>

</beans>